<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
</head>
<body>
<h1>게시글 등록</h1>
<div class="container">
    <th:block th:replace="~{module/header}"></th:block>
</div>

<form th:action="@{/board/create}" method="post" th:object="${boardFormDto}"  onsubmit="return submitContents();" enctype="multipart/form-data" >
    <table style="width: 80%; height: 500px; border: 1px solid black;">
        <tr>
            <th>제목</th>
            <td>
                <input type="text" name="title" th:field="*{title}">
            </td>
        </tr>
        <tr>
            <th>작성자</th>
            <td>
<!--                <input type="text" name="memberId" th:field="*{memberId}">-->
                <div name="memberId" sec:authentication="principal.username" th:value="${#authentication.name}" readonly></div>
            </td>
        </tr>
        <tr>
            <th>내용</th>
            <td>
                <textarea  id="content" name="content"  th:field="*{content}" ></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <button type="submit">등록</button>
            </td>
        </tr>
<!--        <tr>-->
<!--            <td colspan="2" align="right">-->
<!--                <button type="button" onclick="create()">등록</button>-->
<!--                <button type="button" onclick="createAsync()">등록</button>-->
<!--            </td>-->
<!--        </tr>-->

    </table>

</form>
<script th:src="@{/smarteditor2/js/HuskyEZCreator.js}" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
    var oEditors = [];
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "content",
        sSkinURI: /*[[@{/smarteditor2/SmartEditor2Skin.html}]]*/,
        htParams : {
            bUseToolbar : true,
            bUseVerticalResizer : true,
            bUseModeChanger : true,
            fOnBeforeUnload : function(){}
        },
        fOnAppLoad : function(){
            // sUrl에 컨트롤러의 @RequestMapping 경로를 정확히 기입합니다.
            oEditors.getById["content"].getIR();
            oEditors.getById["content"].exec("REGISTER_UI_EVENT", [
                "photo_upload", {
                    bUseAttachMode: false,
                    // ⭐️ 서버 측 업로드 처리 URL
                    sUrl: "/smarteditorMultiImageUpload"
                }
            ]);
        },
        fCreator: "createSEditor2"
    });


    // form 제출 시 에디터 내용을 textarea에 반영
    function submitContents() {
        if(oEditors.length > 0) {
            oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
        }
        return true;
    }

    // AJAX 호출 시 에디터 내용을 textarea에 반영
    function updateEditorContent() {
        if(oEditors.length > 0) {
            oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
        }
    }

    /*
        AJAX
        [POST]
        - /posts
        - data : JSON
    */

        // AJAX : XMLHttpRequest, fetch(), $.ajax(), axios

        function create() {
            updateEditorContent(); // AJAX 호출 전 내용 업데이트

            const data = {
                title: document.getElementById("title").value,
                memberId: document.getElementById("memberId").value,
                content: document.getElementById("content").value
            }

            // 비동기 요청
            const url = `/board`
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
                // 요청 성공 시
                // .then( 성공 시 콜백함수 )
                .then((response) => {
                    console.log(response);
                    if (!response.ok) {
                        alert("데이터 등록 실패")
                        return
                    }
                    // 응답 메시지
                    // JSON : response.json()
                    // TEXT : response.text()
                    return response.text()
                })
                .then(result => {
                    alert(result)
                    alert("데이터 등록 성공")
                    location.href = `/board/list`
                })
                // 요청 실패 시
                // .catch( 실패 시 콜백함수 )
                .catch(err => {
                    console.log(err);
                })
        }

        async function createAsync() {

            updateEditorContent(); // AJAX 호출 전 내용 업데이트

            const data = {
                title: document.getElementById("title").value,
                memberId: document.getElementById("memberId").value,
                content: document.getElementById("content").value
            }

            // 비동기 요청
            const url = `/board`
            try {
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                if (!response.ok) {
                    alert(`데이터 등록 실패`)
                    return
                }
                const result = await response.text()
                alert(result)
                alert(`데이터 등록 성공`)
                location.href = `/board/list`
            } catch (error) {
                alert(`데이터 등록 실패`)
                console.error(error);
            }
    }
</script>
</body>
</html>