<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
</head>
<body>
    <h1>게시글 수정</h1>

    <form id="form" th:action="@{/board/update}" method="post" th:object="${board}"
            enctype="multipart/form-data">
        <input type="hidden" th:field="*{no}">
        <table border="1">
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" th:field="*{title}">
                    <!-- <input type="text" id="title" name="title" th:value="*{title}"> -->
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" th:field="*{memberId}">
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <textarea th:field="*{content}" rows="5" cols="40"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <button type="button" onclick="location.href='/BuyBike/board/list'">목록</button>
                    <button type="submit">수정</button>
                    <button type="button" onclick="remove()">삭제</button>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <button type="button" onclick="location.href='/BuyBike/board/list'">목록</button>
                    <button type="button" onclick="updateData()">수정</button>
                    <button type="button" onclick="deleteData()">삭제</button>
                </td>
            </tr>

        </table>

    </form>
    <script>
        const $form = document.getElementById('form')
        const no = [[${board.no}]]

        function remove() {
            const check = confirm(`정말로 삭제하시겠습니까?`)
            if( !check ) return
            $form.action = `/board/delete/${no}`
            $form.submit()
        }

        async function updateData() {
            const data = {
                "no"    : document.getElementById("no").value,
                "title" : document.getElementById("title").value,
                "memberId" : document.getElementById("memberId").value,
                "content" : document.getElementById("content").value,
            }
            const url = `/board`
            try {
                const response = await fetch(url, {
                    method : "PUT",
                    headers : {
                        "Content-Type" : "application/json"
                    },
                    body : JSON.stringify(data)
                })
                if( !response.ok ) {
                    alert("데이터 수정 실패")
                    return
                }
                const result = await response.text()
                alert(result)
                alert(`데이터 수정 성공`)
                location.href = `/board/list`
            } catch (error) {
                console.error(error)
                alert(`데이터 수정 실패`)
            }
        }

        async function deleteData() {
            const url = `/board/${no}`
            const check = confirm(`정말로 삭제하시겠습니까?`)
            if( !check ) return
            try {
                const response = await fetch(url, {
                    method : "DELETE",
                })

                if( !response.ok ) {
                    alert(`데이터 삭제 실패`)
                    return
                }
                const result = await response.text()
                alert(result)
                alert(`데이터 삭제 성공`)
                location.href = `/board/list`
            } catch (error) {
                console.error(error)
                alert(`데이터 삭제 실패`)
            }
        }
    </script>


</body>
</html>