<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <!--변수 설정-->
    <Properties>
        <Property name="LOG_FORMAT">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
        <Property name="BASE_DIR">C:/log</Property> <!--로그 파일 경로-->

    </Properties>
    <Appenders>
        <!-- 콘솔 로그-->
        <Console name="Console-Appneder" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_FORMAT}"/>
        </Console>

        <RollingFile name="File-Appneder" fileName="${BASE_DIR}/monitor.log" filePattern="${BASE_DIR}/%d{yyyy-MM-dd}.log.zip">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10KB"/>                  <!-- 15MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- 일별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${BASE_DIR}">
                    <IfAccumulatedFileCount exceeds="4"/>   <!-- log 파일이 4개 이상일때 예전 log 파일 삭제 -->
                    <IfFileName glob="*.log"/>   <!-- 삭제할 파일명 -->
                    <IfLastModified age="3d"/>   <!-- 3일이 경과한 로그파일은 자동 삭제 -->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


        <RollingFile name="Audit-Appneder" fileName="${BASE_DIR}/audit.log" filePattern="${BASE_DIR}/%d{yyyy-MM-dd}.log.zip">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10KB"/>                  <!-- 15MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- 일별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${BASE_DIR}">
                    <IfAccumulatedFileCount exceeds="4"/>   <!-- log 파일이 4개 이상일때 예전 log 파일 삭제 -->
                    <IfFileName glob="*.log"/>   <!-- 삭제할 파일명 -->
                    <IfLastModified age="3d"/>   <!-- 3일이 경과한 로그파일은 자동 삭제 -->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


    </Appenders>
    <Loggers name="com.springboot">
        <Root level="INFO">
            <AppenderRef ref="Console-Appneder"/>

        </Root>
        <Logger name="com.springboot.interceptor.MonitoringInterceptor" level="INFO"  additivity="true">
            <AppenderRef ref="File-Appneder"/>
        </Logger>
        <Logger name="com.springboot.interceptor.AuditingInterceptor" level="INFO"  additivity="true">
            <AppenderRef ref="Audit-Appneder"/>
        </Logger>



    </Loggers>
</Configuration>