<html>
<head>
    <meta charset="UTF-8">
    <title>자전거 상세 정보</title>
    <link href="BuyBike/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container py-4">
    <th:block th:replace="~{module/header}"></th:block>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">자전거 정보</h1>
            <p class="col-md-8 fs-4">BookMarket</p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-4">
            <img th:src="'BuyBike/images/'+${board.getFileName()}" style="width:90%"/>
            <div class="text-center">
                <a th:href="@{download(file=${board.fileName})}" style="text-decoration-line: none">이미지 다운로드</a>
            </div>
        </div>
        <div class="col-md-8">
            <h3 th:text ="${board.title}"></h3>
            <p th:text ="${board.content}"></p>

            <p><b>게시일</b> : <span th:text ="${#temporals.format(board.getRegDt(),'yyyy-MM-dd')}"></span></p>

            <br>
			<p><a href="#" class="btn btn-primary">수정 &raquo;</a>
			<a href="BuyBike/boards" class="btn btn-secondary"> 목록 &raquo;</a>



        </div>

    </div>
    <th:block th:replace="~{/module/footer}"></th:block>
</div>
</body>
</html>