<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="/BuyBike/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<div class='container py-4'>
    <th:block th:replace="~{/module/header}"></th:block>
    <div class='p-5 mb-4 bg-body-tertiary rounded-3'>
        <div class='container-fluid py-5'>
            <h1 class='display-5 fw-bold'>BuyBike에 오신 것을 환영합니다</h1>
            <p class='col-md-8 fs-4'>BuyBike</p>
        </div>
    </div>
    <div class='row align-items-md-stretch text-center'>
        <div class='col-md-12'>
            <div class='h-100 p-5'>
                <h2>Welcome to BuyBike!</h2>
            </div>
        </div>
    </div>
    <th:block th:replace="~{/module/footer}"></th:block>
</div>
</body>
</html>